/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, img {
	margin: 0;
	padding: 0;
	border: 0;	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  /*background: url('images/background.jpg');*/
  /*background: url('images/background.png');*/
  background: url('images/background_2.png');
  position: relative;
  background-repeat: no-repeat;
}

h1 {
	font-size: 20pt;
	color: #0066cc;
	line-height: 1.5;
	font-family: PTF55F;
}

h2 {
	font-family: PTF55F;
	font-size: 18pt;
	color: #FF0033;
	line-height: 1.5;
	padding-left: 25px;
}

h3 {
	font-family: Arial;
	font-size: 12pt;
	color: black;
	line-height: 1.5;
}

p, li {
	font-family: Arial;
	line-height: 1.5;
	font-size: 14pt;
}

li {
	padding-top: 13px;
	padding: 3px;
	font-style: italic;
}

A:link {
	text-decoration:underline;
	color:#30f;
	}
A:visited {
	text-decoration:underline;
	color:#609;
	}
A:hover {
	text-decoration:none;
	color:#f00;
	}
a, a:active {
outline: none;
	}

.table {
	font-family: Arial;
	font-size: 10pt;
	color: black;
	line-height: 1.5;
}

td{
	padding-left: 7px;
}

.backgroundHeader {
  position: absolute;
  top: 0;
  width: 420px;
  height: 370px;
  background: url('images/background_flag.png');
  background-repeat: no-repeat;
}

.templateWrapper {
	position: ;
	width: 982px;
	margin: 0 auto 0 auto;
}

.contentContainer {
position: absolute;
width: 672px;
margin-left: 250px;
margin-top: 435px;
background-color: rgba(255, 255, 255, 0.6);
padding: 10px 30px 30px 30px;
min-height: 840px;
}

.mainContainer {
position: absolute;
width: 672px;
margin-left: 250px;
margin-top: 435px;
padding: 10px 30px 30px 30px;
}

.logo {
position: absolute;
width: 298px;
height: 250px;
margin-left: -75px;
margin-top: 0px;
background: url('images/logo.png');
background-repeat: no-repeat;
}

.accomodation {
position: absolute;
width: 186px;
height: 186px;
margin-left: 214px;
margin-top: 60px;
background: url('images/accomodation.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.accomodation_active {
position: absolute;
width: 186px;
height: 186px;
margin-left: 214px;
margin-top: 60px;
background: url('images/accomodation_active.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.about {
position: absolute;
width: 186px;
height: 186px;
margin-left: 348px;
margin-top: -74px;
background: url('images/about.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.about_active {
position: absolute;
width: 186px;
height: 186px;
margin-left: 348px;
margin-top: -74px;
background: url('images/about_active.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.dates {
position: absolute;
width: 186px;
height: 186px;
margin-left: 482px;
margin-top: 60px;
background: url('images/dates.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.dates_active {
position: absolute;
width: 186px;
height: 186px;
margin-left: 482px;
margin-top: 60px;
background: url('images/dates_active.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.order {
position: absolute;
width: 186px;
height: 186px;
margin-left: 616px;
margin-top: -74px;
background: url('images/order.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.order_active {
position: absolute;
width: 186px;
height: 186px;
margin-left: 616px;
margin-top: -74px;
background: url('images/order_active.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.education {
position: absolute;
width: 186px;
height: 186px;
margin-left: 750px;
margin-top: 60px;
background: url('images/education.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.education_active {
position: absolute;
width: 186px;
height: 186px;
margin-left: 750px;
margin-top: 60px;
background: url('images/education_active.png');
background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.skills {
	background: url('images/skills_builder.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-right: 6px;
	margin-bottom: 25px;
}

.lab {
	background: url('images/englishlab_club.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-right: 6px;
	margin-bottom: 25px;

}

.club {
	background: url('images/cinema_club.png');
	width: 220px;
	height: 273px;
	float:left;
	margin-bottom: 25px;
}

.dance{

	background: url('images/dance.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-bottom: 25px;
	margin-right: 6px;
}
.tourist{

	background: url('images/tourist.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-bottom: 25px;
	margin-right: 6px;
}
.theatre{

	background: url('images/theatre.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-bottom: 25px;
}
.sport{

	background: url('images/sport.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-bottom: 25px;
	margin-right: 6px;
}
.teacher{

	background: url('images/best.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-bottom: 25px;
	margin-right: 6px;
}
.perfomance{

	background: url('images/perfomance.png');
	width: 220px;
	height: 273px;
	float: left;
	margin-bottom: 25px;
}

.white-label {
font-size: 18pt;
font-family: Arial;
color: #fff;
padding: 145px 10px 0px 10px;
line-height: 1;
}

.white-label-small {
font-size: 12pt;
font-family: Arial;
color: #fff;
padding: 0px 10px 0px 10px;
line-height: 1;
margin-top: -10px;
}

.black-label {
font-size: 18pt;
font-family: Arial;
color: #000;
padding: 145px 10px 0px 10px;
line-height: 1;

}

.black-label-small {
font-size: 12pt;
font-family: Arial;
color: #000;
padding: 0px 10px 0px 10px;
line-height: 1;
margin-top: -10px;
}

@font-face {
	font-family: PTF55F; 
	src: url(fonts/PTF55F.ttf);
   	}

.slogan {
position: absolute;
width: 240px;
height: 277px;
margin-left: 30px;
margin-top: 300px;
font-family: PTF55F;
font-size: 28pt;
color: #fff;
line-height: 1.3;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.photo {
position: absolute;
width: 200px;
height: 277px;
margin-left: 35px;
margin-top: 480px;
background: url('images/photo.png');
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.photo2 {
position: absolute;
width: 263px;
height: 304px;
margin-top: 705px;
background: url('images/photo_02.png');
}

.photo3 {
position: absolute;
width: 206px;
height: 244px;
margin-left: 20px;
margin-top: 1001px;
background: url('images/photo_03.png');
}

.promo {
position: absolute;
width: 190px;
height: 70px;
margin-left: 410px;
margin-top: 280px;
font-family: Arial;
line-height: 1.5;
font-size: 13pt;
font-style: italic;
}

.phone {
position: absolute;
width: 320px;
height: 70px;
padding: 10px;
background: url('images/cloud.png');
margin-left: 642px;
margin-top: 273px;
font-family: Arial;
color: #0066cc;
font-family: PTF55F;
}

.footer {
position: absolute;
bottom: 15px;
margin: 0 auto;
width: 672px;
font-family: Arial;
font-size: 8pt;
text-align: center;
color: #555;
}